* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: grid;
    grid-template-columns: 40px 500px; 
    grid-template-rows: 500px 40px;    
}


.chess-board {
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.row.row-odd div:nth-child(odd) { background-color: white; }
.row.row-odd div:nth-child(even) { background-color: black; }

.row.row-even div:nth-child(odd) { background-color: black; }
.row.row-even div:nth-child(even) { background-color: white; }

.notation.letters {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.notation.numbers {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


.notation div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
}

.corner-empty {
    grid-column: 1;
    grid-row: 2;
}